@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MrFixIt.Models.Job
<div class="col-md-4">
    <div class="card claim">
        <h3>Would you like to do this job?</h3>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.JobId)
            @Html.HiddenFor(model => model.Title)
            @Html.HiddenFor(model => model.Description)

            <input class="button waves-effect waves-light btn" style="padding-left:35px; padding-right:35px" type="submit" value="Add" />
            <p class="button waves-effect waves-light btn ">@Html.ActionLink("Cancel", "Index")</p>
        }
</div>
   
</div>
