@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MrFixIt.Models.Job

<h2>Complete?</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)

    <h4>@Model.Title</h4>
    <input class="button waves-effect waves-light btn" type="submit" value="Mark as complete" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>